nav {
  background-color: black;
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 0 6rem;
}
@media (max-width: 767px) {
  nav {
    justify-content: center;
  }
}
nav h1 {
  font-size: 4rem;
  color: white;
}
